<div class="wrapper">
    <!-- Row # 1 -->
    <select [disabled]="elastic.subscription !== null">
        <option>GET</option>
        <option>POST</option>
        <option>PUT</option>
        <option>DELETE</option>
    </select>
    <input [(ngModel)]="url" (keyup.enter)="onSend()" [disabled]="elastic.subscription !== null"/>
    <button (click)="toggleAuthVisible()">{{elastic.user && elastic.pass ? "Basic Auth" : "No Auth"}}</button>
    <button (click)="onSend()">{{elastic.subscription ? "Cancel" : "Send"}}</button>

    @if(false) {
    <!-- Row # 2 -->
    @if (authVisible) {
    <div class="all-columns auth">
        <p>User</p>
        <input [(ngModel)]="elastic.user" />
        <p>Pass</p>
        <input [(ngModel)]="elastic.pass" type="password" />
    </div>
    }

    <!-- Row # 3 -->
    <json-editor #queryeditor [data]="query" [options]="editorOptions" class="all-columns last-row"></json-editor>
}
</div>