.wrapper
    height: 100%
    display: grid
    grid-template-columns: auto 1fr auto auto
    grid-template-rows: auto auto 1fr
    grid-gap: 4px
    padding: 4px
    
.all-columns
    grid-column: span 4

.auth
    display: grid
    grid-template-columns: auto 1fr auto 1fr
    grid-gap: 4px
    margin-top: 4px
    margin-bottom: 4px
.auth *
    margin: 0px

:host ::ng-deep json-editor,
:host ::ng-deep json-editor .jsoneditor,
:host ::ng-deep json-editor > div,
:host ::ng-deep json-editor jsoneditor-outer
    height: 100px
    min-height: 100%